
body{
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    transition: all 0.3s ease-in-out;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-success {
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.btn-success:hover {
    background: #198754;
    transform: scale(1.05);
}
